main-body {
  height: 180vh;
}
.detail-movie-poster {
  height: 150vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  margin: 0;
}
.blur-area {
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 13, 0.406);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.movie-detail-page-first-row {
  margin-bottom: 150px;
}
.second-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.detail-img-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-img {
  width: 400px;
}
.detail-title {
  font-family: "GmarketSansMedium";
  font-size: 80px;
}
.detail-genre {
  margin: 30pxs;
}
.badge-area {
  display: flex;
  font-family: "GmarketSansMedium";
  font-size: 20px;
  font-weight: 50;
}
.run-time {
  margin-top: 2px;
}
.badge {
  border: 2px solid rgb(120, 117, 117);
  color: rgb(181, 181, 181);
}
.people-list {
  font-family: "GmarketSansMedium";
  font-size: 20px;
  font-weight: 50;
}
.detail-overview {
  font-family: "GmarketSansMedium";
  font-size: 18px;
}
.detail-base-line {
  font-family: "GmarketSansMedium";
  font-size: 15px;
}
.movie-recommend-area {
  margin-top: 30px;
}
.recommend-title{
   font-family: "GmarketSansMedium";
  font-size: 25px;
}
.movie-detail-recommend{
  height: 40vh;
  width: 100vw;
  margin-top: 50px !important;
  z-index: 2 !important;
  padding-top: 30px;
  border-top: 1px solid rgba(130, 128, 128, 0.181);
}