.main-style {
background-color: black;
height: 100vh;
}
.nav-style {
  font-family: 'Pretendard-Regular';
  background-color: black;
  color: white;
  height: 70px;
  padding-top: 15px;
  font-size: 20px;
  z-index: 2;
}
.nav-style .me-2 {
  border-radius: 20px;
  font-family: 'Pretendard-Regular';
}
.search-button {
  border-radius: 30px;
  font-family: 'Pretendard-Regular';
}
img{
    width: 110px;
}
.collapse{
  background-color: black !important;
  padding-bottom: 10px;
}
.nav-menu{
padding-top: 15px !important;
text-align: center;
}
.nav-bar-search{
    padding-top: 10px;
}