.carousel-container {
  overflow: hidden;
  height: 100%;
}
.movie-slider-area {
  position: relative;
  margin-top: 50px;
}
.movie-slider-area h3 {
  text-align: center;
  font-size: 40px;
  font-family: 'BagelFatOne-Regular';
  margin-bottom: 20px;
}
.movie-slider {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex: 1 !important;
  gap: 50px !important;
  width: 350px !important;
}
@media only screen and (max-width: 767px) {
  .movie-slider-area h3 {
    font-size: 35px;
  }
  .movie-slider {
    width: 300px !important;
  }
.movie-slide{
  display: flex;
  flex-direction: row;
  position: relative
}

  /* .movie-slider :hover {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex: 1 !important;
  gap: 50px !important;
  width: 430px !important;
} */
}