.filter-total {
  font-family: "Pretendard-Regular";
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.page-item .page-link {
  background-color: #222222;
  border: 1px solid #5b5656;
  color: #ffffff;
  cursor: pointer;
}

.page-item .page-link:hover {
  background-color: #ae180d !important;
  color: #222222;
}

.disabled .page-link {
  color: #444444;
}

.active .page-link {
  border: 1px solid #5b5656;
  background-color: #ae180d !important;
  color: #222222;
}
.movie-page-card {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.moviepage-second-row {
  margin: 50px;
}
.moviepage-second-row-first {
  margin-left: 40px;
}
.moviepage-second-row-second {
  display: flex;
  justify-content: end;
  margin-right: 40px;
}
.movie-page-card{
  margin-bottom: 28px;
}
@media only screen and (max-width: 767px) {
  .movie-page-card {
    padding-top: 10px;
  }
}

