.pagination {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.page-item .page-link {
  background-color: #222222;
  border: 1px solid #5b5656;
  color: #ffffff;
  cursor: pointer;
}

.page-item .page-link:hover {
  background-color: #ae180d !important;
  color: #222222;
}

.disabled .page-link {
  color: #444444;
}

.active .page-link {
  border: 1px solid #5b5656;
  background-color: #ae180d !important;
  color: #222222;
}
.movie-page-card{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
@media only screen and (max-width: 767px) {
.movie-page-card{
 padding-top: 10px;
}
}
