.not-found-page{
    height: 100vh;
    background-image: url("https://cdn.dribbble.com/users/256291/screenshots/3286836/attachments/708203/404_dark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
